
.box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ueberUnsBox {
    padding: 2rem 2rem 0rem 2rem;
}

.tauchschuleBox {
    padding: 0rem 2rem 0rem 2rem;
    margin-top: 2rem; 
}

@media (max-width:800px){
    .ueberUnsBox {
        padding: 1rem 0rem 0rem 0rem;
    }
    .tauchschuleBox {
        padding: 0rem
    }
}